.modulos_seccion{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #F6F8F8;
}

.contain_icon{
    width: 40%;
    margin-right: 10px;
    padding: 15px;
}

.icon{
    width: 80%;
}

.card_modulo{
    background-color: #ffff;
    max-width: 800px;
    width: 90%;
    
    display: flex;
    align-items: center;

    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.247);
    border-radius: 8px;
}


@media screen and (max-width: 768px){
    .card_modulo{
        flex-wrap: wrap;
    }
    .icon{
        width: 80%;
        margin-top: 10px;
    }
}