/* Estilos para el Modal de Éxito */
.modal_overlay {
    position: fixed; /* Se posiciona sobre toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de todo */
}

.modal_card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    max-width: 400px; /* Ancho máximo de la tarjeta */
}

.modal_card h2 {
    margin-top: 0;
    color: #2c5282; /* Un color azul oscuro */
}

.modal_card p {
    margin-bottom: 25px;
    color: #4a5568; /* Un color gris */
}

.btn_modal_ok {
    background-color: #3182ce; /* Azul */
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn_modal_ok:hover {
  background-color: #2b6cb0; /* Azul más oscuro */
}