section{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin-top: 20px;
}

.input-label{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 8px;
}

.input{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.container-sexo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px
}

.btn-registrarse{
    padding: 10px 20px;
    background-color: #1877F2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

/* Estilos para el Modal de Éxito */
.modal-overlay {
    position: fixed; /* Se posiciona sobre toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de todo */
}

.modal-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    max-width: 400px; /* Ancho máximo de la tarjeta */
}

.modal-card h2 {
    margin-top: 0;
    color: #2c5282; /* Un color azul oscuro */
}

.modal-card p {
    margin-bottom: 25px;
    color: #4a5568; /* Un color gris */
}

.btn-modal-ok {
    background-color: #3182ce; /* Azul */
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-modal-ok:hover {
  background-color: #2b6cb0; /* Azul más oscuro */
}

/*Modal de error*/
.btn-modal-error {
    background-color: #ce3131; /* Azul */
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}
